extends layout

block content
    .d-flex.align-items-center.justify-content-center.flex-column.w-100.h-404
        .display-3.text-danger
            i.fa.fa-database.mr-10
            |503
        
        h1.h2.font-w700.mt-30.mb-10 Oops.. You just found an error page..
        h2.h3.font-w400.text-muted We are sorry but your request contains bad syntax and cannot be fulfilled..