doctype html
html.no-focus(lang='en')
    head
        //- Meta tags
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')

        //- Assets
        link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700&display=swap')
        link(rel='shortcut icon' href='/favicon.ico')

        //- Mandatory CSS
        link(rel='stylesheet' href='/css/codebase.min.css')

    body
        //- Components
        include components/menu
        include components/logo
        
        #page-container.main-content-boxed.page-header-fixed.page-header-inverse.sidebar-inverse
            //- Sidebar
            nav#sidebar
                .sidebar-content
                    //- Side header
                    .content-header.content-header-fullrow.bg-black-op-10
                        .content-header-section.text-center.align-parent
                            //- Close button
                            button.btn.btn-circle.btn-dual-secondary.d-lg-none.align-v-r(type='button' data-toggle='layout' data-action='sidebar_close'): i.fa.fa-times.text-danger
                            
                            //- Logo
                            .content-header-item
                                +logo
                    
                    //- Side navigations
                    .content-side.content-side-full
                        ul.nav-main: +menu

            //- Header
            header#page-header
                .content-header
                    //- Logo
                    .content-header-section
                        +logo
                    
                    .content-header-section
                        //- Desktop menu
                        ul.nav-main-header: +menu

                        //- Hamburger
                        div.btn-group.ml-5.d-lg-none
                            if random
                                a.btn.btn-circle.btn-lg.text-white(href=random): i.fa.fa-random
                            button.btn.btn-circle.btn-lg.text-white#btn-top(type='button'): i.fa.fa-arrow-up
                            button.btn.btn-circle.btn-lg.btn-dual-secondary(type='button' data-toggle='layout' data-action='sidebar_toggle'): i.fa.fa-navicon

                #page-header-loader.overlay-header.bg-primary
                    .content-header.content-header-fullrow.text-center
                        .content-header-item: i.fa.fa-sun-o.fa-spin.text-white    
            
            //- Content
            main#main-container: .content
                block content
            
        //- Mandatory JS
        script(src='/js/codebase.core.min.js')
        script(src='/js/codebase.app.min.js')